
/*This is the first big box to apply flexbox to
It will affect Header, Main and Footer*/
body {
    background-image: url("/images/interfaceSapce.png");
    /* background-repeat: no-repeat;
    background-size: cover; */
    font-family: 'Courier New', monospace;
    color:aquamarine;
    /* 1 pixel black shadow to left, top, right and bottom */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
    
}

/*This is nested in body*/
header {

}

.logo {
    /* background-color: lavender; */
}

.username {
    /* background-color: lavender; */
    
}

/*This is the next big box, it will affect journalBox and sideGraphicBox*/
main {
    border:solid lightskyblue 2px;
    display: flex;
}

/*These are inside main*/
.journalBox {
 /* border: solid blue 2px; */
 flex:3;
}


.sideGraphicBox {
    border: blue solid 2px;
    flex:1;
}

/*These are nested inside journalBox -->journalEntryBox journalListBox*/
.journalEntryBox {
    border: lightskyblue solid 2px;
}

/*This is nested in journal entry box*/
.journalHeader {
    display:flex;
    flex-direction: row;
    margin-bottom: 1em;
    /* background-color: aqua; */
    
}
.journalMain {
    display:flex;
    flex-direction: column;
}
.journalFooter {
    /* background-color: aqua; */
}
/*End of items nested in journalEntry*/

/*This is nested inside journalHeader, the date and mood buttons*/

.dateBox {
    /* background-color: blue; */
    
    margin-right: 5px;
}

.moodBox {
    margin-right: 5px;
}

/*This is inside journal box*/
.journalMain {
    padding:.25em;
}

.inputBox {
    margin-bottom: .25em;
    
}

.journalListBox{
    margin-top: 5em;
}

/*This is everything nested in journalListBox*/
.listTitle {
   
}
.journalEntry {
    /* background-color: aquamarine; */
    border:1px solid lightskyblue;
    
    display:flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin: 5px 0;
}

.journalButtons {
    display:flex;

}

.editBtn {
    margin-right: 5px;;
}
.deletBtn {
    margin-right: 5px;
}
/*End of items nested in journa
lListBox*/

/*This is a big box nested in body*/
footer {
    display: flex;
    justify-content: space-between;
    background-color: lavender;
}


input {
    background: rgba(84, 174, 248, 0.747);;
}


#moodButton {
    background: rgba(84, 174, 248, 0.747);
}

#journalDate{
    background: rgba(84, 174, 248, 0.747);
}

#textareaID {
    background: rgba(84, 174, 248, 0.747);
    width:95%;
    color:aquamarine;
    /* 1 pixel black shadow to left, top, right and bottom */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
}